{{ .Body }}

<table id="inboxTable" class="table table-sm table-striped">
    <thead>
    <tr class="column-header-row">
        <th>ID</th>
        <th>Response Code</th>
        <th>Created</th>
        <th>Sender</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    {{ range .Notifications }}
        <tr>
            <td>{{ .ActivityId }}</td>
            <td>{{ .HttpResponseCode }}</td>
            <td>{{ .FormattedTimestamp }}</td>
            <td>{{ .Sender }}</td>
            <td><a href="{{ .Url }}">details</a></td>
        </tr>
    {{ end }}
    </tbody>
</table>
